:root {
  --card-border: #e8e8e8;
  --accent: #111;
  --accent-contrast: #fff;
  --rm-gap: 32px;
  --rm-text: #000;
  --rm-btn-bg: #000;
  --rm-btn-text: #fff;
  --rm-season-bg: #f9c7ff;
  --rm-season-tab-hover-bg: #000;
  --rm-season-tab-hover-text: #fff;
}

* {
  font-style: swap;
  font-family: custom_167382, -apple-system, system-ui, BlinkMacSystemFont,
    Segoe UI, Ubuntu, Fira Sans, Roboto, Avenir Next, Helvetica Neue, Helvetica,
    Arial, sans-serif;
}
